<h1>Discuss!!</h1>
<%= render "comments/form" %>

<div class="comments">
    <%= render @discussion.comments %>
</div>

<%= button_to "Delete discution", { action: "destroy", id: @discussion.id },
                                method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Edit discussion", edit_discussion_path(@discussion)%>
