* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow: hidden;
}

body {
    font-size: 2rem;
    background-color: rgb(247, 240, 236);
}