/********** Button circle and square shape ******/
.btn,
.btn ~ input {

    &__normal,
    &__normal:link,
    &__normal:visited {
        font-size: 2rem;
        padding: 1.5rem 3rem;
        text-decoration: none;
        color: green;
        border: 0.5rem solid #d68940;
        border-radius: 10rem;
    }

    &__circle, &__square,
    &__circle:link, &__square:link,
    &__circle:visited, &__square:visited {
        font-size: 2rem;
        display: inline-block;
        
        text-decoration: none;
        transition: all 0.5s;     /* transition everything back for 0.5s */

        position: relative;       /* for button after */

        // Change for the <button> element
        border: none;
        cursor: pointer;
    }

    &__circle {
        padding: 1.5rem 3rem;
        border-radius: 10rem;
    }

    &__square {
        padding: 1.5rem 3rem;
        border-radius: 1rem;
    }

    &__circle:hover, &__square:hover {
        transform: translateY(-0.5rem);
        box-shadow: 1rem 1rem 2rem rgba(20, 20, 18, 0.5);        /* x y blur color */

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &__circle:active, &__circle:focus,
    &__square:active, &__square:focus {
        outline: none;
        transform: translateY(-0.2rem);
    }
    
    &__circle::after,
    &__square::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    
        transition: all 0.7s;
    }

    &__square::after {
        border-radius: 1rem;
    }
}

.btn__color {

    &__yellow__orange {
        font-family: sans-serif;
        text-transform: none;
        font-weight: 100;
        color:#fef6ec;
        background-image: linear-gradient(to right, #ec9e0d, #d34d1c);
        
    }

    &__yellow__orange::after {
        background-image: linear-gradient(to right, #ec9e0d, #d34d1c);
    }
}

@media only screen and (max-width: 102.3rem) {
    .btn {

        &__circle, &__square,
        &__circle:link, &__square:link,
        &__circle:visited, &__square:visited {
            font-size: 2rem;
        }
    }
}