.header {
    width: 100vw;
    height: 100vh;
    &__content__container {
        max-width: 120rem;
        height: auto;
        margin: 0 auto;
    }

    &__no__scroll {
        overflow: hidden;
    }

    &__content__primary {
        display: flex;
        justify-content: center;
        font-size: 4rem;
        margin: 3rem 0;
    }
}