// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "./abstract_variables";
@import "./base_base";
@import "./components_sign_up_form";
@import "./components_buttons";
@import "./layout_footer";
@import "./layout_grid";
@import "./layout_header";
@import "./layout_navigation";
@import "./layout_queries";
@import "./pages_home";

a {
    color: inherit;
    text-decoration: inherit;
}

input {
    margin: inherit;
}