<section class="user-information">
    <h1><%= @user.first_name %></h1> 
    <p><%= @user.email %></p>

    
    <% if @user.admin? %>
        <p>You are admin</p>
        <p><%= link_to "Show all users", :action => :index %></p>
    <% else %>
        <p>you are NOT admin</p>
    <% end %>
    <p>
        <button class="btn__normal btn__color__yellow__orange"><%= link_to "Destroy me", user_path, method: :delete, data: { confirm: "Really delete this user?" } %></button>
    </p>
</section>