<h1>Hello user!</h1> 
<p>Your email is: <%= @user.email %></p>
<p>Your name is: <%= @user.first_name %></p>
<p>Your id is: <%= @user.id %></p>
<%= link_to "Destroy me", user_path, method: :delete, data: { confirm: "Really delete this user?" } %>