<div class="message__container">
    <div class="notice__container">
    <p class="message"><%= notice %></p>
    </div>
    <div class="alert__container">
    <p class="message"><%= alert %></p>
    </div>
</div>