<header class="header">

    <%= render "navigation" %>
    
    <div class="header__content__container">
        <div class="header__content__primary">
            <h1>How it works Page</h1>
        </div>
    </div>
</header>