<div class="project__container">
    <div class="project__header__primary">
        <h1>Your Projects</h1>
    </div>

    <%= link_to "Create new project", new_project_path, class: "btn__square btn__color__yellow__orange project__btn" %>

    <ul class="project__list">
        <% @projects.each do |project| %>
            <li class="project__item">
                <%= link_to(project_path(project)) do %> 
                    <%= content_tag :h3, project.title, :class => "project__link" %>
                    <%= content_tag :p, project.description, :class => "project__description" %>
                <% end %>
            </li>
        <% end %>
    </ul>
</div>