<div class="header__content__container">
    <div class="header__content__primary">
        <h1>Your Projects</h1>
    </div>

    <div class="flickr_pagination">
        <div class="page_info">
            <%= page_entries_info @projects %>
        </div>
        <%= will_paginate @projects, :container => false %>
    </div>

    <% if user_signed_in? %>
            <ul class="project__list">
                <% @projects.each do |project| %>
                    
                    <% link_to(project_path(project)) do %> 
                        <li class="project__item">
                                <h3 class="project__title"><%= link_to project.title, project_path(project), class: "project__link" %></h3>
                                <p class="project__description">
                                    text
                                </p>
                        </li> 
                    <% end %>
                <% end %>
            </ul>
    <% end %>
</div>