<header class="header">

    <%= render "navigation" %>
    
    <div class="header_content_container">
        <div class="header_content_primary">
            <h1>How it works Page</h1>
        </div>
    </div>
</header>