$primary-white: #fef6ec;
$primary-white-2: #ffffff;
$primary-grey: #dddcdc;
$primary-grey-medium:#424141;
$primary-black: #201f1f;
$primary-blue-light: #00FFFF;
$primary-blue-medium:#00CED1;
$primary-blue-dark:#20B2AA;
$primary-blue-dark-2: rgb(7, 28, 121);
$primary-red-light: #F08080;
$primary-red-medium: #DC143C;
$primary-red-dark: #FF0000;
$primary-yellow-light: #eca622;
$primary-yellow-medium: #e76e42;
$primary-orange: #f5824d;
$primary-violet-light: #EE82EE;
$primary-violet-medium: #333135;
$primary-violet-dark: #9400D3;
$primary-pink-medium: #ff949a;
$primary-pink-dark: #ce6d74;
$primary-pink-light: #FFE9E4;

$primary-test-color: rgba(10,72,112, 0);

$primary-facebook: #1877F2;
$primary-twitter: #1DA1F2;
$primary-instagram: #E1306C;
$primary-pinterest: #E60023;