$primary-white: #fef6ec;
$primary-white-2: #ffffff;
$primary-grey: #dddcdc;
$primary-grey-medium:#424141;
$primary-grey-dark: #32383d;
$primary-black: #201f1f;
$primary-yellow-light:#facc688e;
$primary-orange-light: #f1bdaac0;
$primary-yellow: #ffc94bef;
$primary-orange: #fd5619f3;
$primary-yellow-button:#ffc94bee;
$primary-orange-button: #fd5619be;
$primary-red: #e75555;
$primary-facebook: #1877F2;
$primary-twitter: #1DA1F2;
$primary-instagram: #E1306C;
$primary-pinterest: #E60023;