@keyframes slide_Up {
    0% {
        transform: translateY(40rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade_In {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.7;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes fade_Out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}