// tags

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    background-color: rgb(247, 240, 236);
    padding-bottom: 25px;
    font-family: PT Serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}