@import "./abstract_variables";

.project {
  &__content__container {
    display: flex;
    justify-content: space-evenly;
  }

  &__left__container {
    flex-basis: 15%;
  }

  &__main__content {
    width: 120rem;
  }

  &__users__container {
    min-width: 250px;
    min-height: 400px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px $primary-grey;
    background-image: linear-gradient(
      to right bottom,
      $primary-yellow-light,
      $primary-orange-light
    );
    flex-basis: 15%;
  }

  &__description__paragraph {
    text-align: center;
    font-weight: 600;
  }

  &__user {
    display: flex;
  }

  &__users__title {
    text-align: center;
    background-color: $primary-white-2;
    padding: 5px 0;
  }

  &__container {
    width: 80%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  &__header__primary {
    text-align: center;
    padding: 10px 0;
    background-color: $primary-white-2;
  }

  &__user {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
  }

  &__user__svg {
    width: 30px;
    height: auto;
    margin-right: 20px;
  }

  &__invite__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__invite__btn {
    width: 220px;
    height: 60px;
    margin: 0 auto 20px auto;
    display: flex !important;
    align-items: center;
    position: relative;
    z-index: 0;
  }

  &__invite__svg {
    width: 50px;
    height: auto;
    margin-right: 20px;
  }

  &__invite__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 18px 0px 20px 30px;
    font-size: 2rem;
    z-index: 1;
  }

  &__btns__container {
    display: flex;
    justify-content: space-between;
  }

  &__btn__container {
    margin-right: 3rem;
    display: flex;
  }

  &__btn {
    margin-bottom: 2rem;
    margin-right: 3rem;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: stretch;
  }

  &__item {
    padding: 4rem 2rem;
    width: 30%;
    border-radius: 1rem;
    box-shadow: 0 0 20px $primary-grey;
    margin: 0 2rem 2rem 0;
    transition: transform 0.5s;
    background-image: url(asset_path(orange_bubbles));
    background-size: cover;

    &:hover,
    &:active {
      transform: scale(1.05);
    }
  }

  &__title {
    margin-bottom: 2rem;
    text-align: center;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    width: 100%;

    &:link,
    &:visited {
      background-image: linear-gradient(
        to right bottom,
        $primary-yellow,
        $primary-orange
      );
      color: transparent;
      background-clip: text;
      -moz-background-clip: text;
      -webkit-background-clip: text;
    }
  }

  &__description {
    line-height: 1.3;
  }

  &__user__name {
    margin-right: 10px;
  }

  &__empty__text {
    background-image: linear-gradient(to right bottom, $primary-yellow-light, $primary-orange-light);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.project__form {
  width: 40%;
  margin: 0 auto;
  border: 0.4rem solid rgb(214, 137, 64);
  border-radius: 1rem;
  padding: 2rem 4rem;
  box-shadow: 1rem 1rem #888888;

  &__title__container {
    margin-bottom: 2rem;
  }

  &__description__container {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2.5rem;
  }

  &__textfield,
  &__textarea {
    width: 80%;
    padding: 0.5rem 1rem;
  }

  &__textarea {
    height: 10rem;
  }
}

.project {
  &__features__container {
    width: auto;
    height: auto;
    padding: 2rem 2rem;
    background-color: #fff;
    box-shadow: 0 0 2rem #dddcdc;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__feature {
    width: 30%;
    background-image: linear-gradient(
      to right bottom,
      rgba(232, 157, 17, 0.8),
      rgba(218, 88, 41, 0.856)
    );
    text-align: center;
    font-size: 3rem;
    border-radius: 0.5rem;
    transition: background-color 0.5s ease;
    padding: 3rem 0 8rem 0;
    position: relative;
    z-index: 0;
    margin-bottom: 20px;
    &:hover {
      background-color: blue;
    }
  }

  &__feature__link:link,
  &__feature__visited:visited {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    padding: 10rem 4rem 2rem 4rem;
    z-index: 100;
    font-size: 2.3rem;
  }

  &__feature__svg {
    width: 80px;
    height: auto;
  }
}
