.navigation {

    &__container {
        max-width: 160rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        font-size: 2rem;
        margin-left: 2rem;
        font-weight: 600;

        & a:link,
        & a:visited {
            text-decoration: none;
            color: #3f3f3f;
        }
    }

    &__base,
    &__base:link,
    &__base:visited {
        font-size: 2rem;
        font-weight: 600;
        text-decoration: none;
        color: rgb(63, 63, 63);
    }
}