@import "abstract_variables";

.navigation {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    
    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        font-size: 2rem;
        margin-left: 2rem;
        font-weight: 600;

        & a:link,
        & a:visited {
            text-decoration: none;
            color: $primary-grey-medium;
        }
    }

    &__base,
    &__base:link,
    &__base:visited {
        font-size: 2.5rem;
        font-weight: 600;
        text-decoration: none;
        color: $primary-grey-dark;
    }
}