// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment_field {
    height: 25px;
}

.comments {
    margin-top: 20px;
    width: fit-content;
}

.comments_item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px; 
}

.comments_item div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comments_item div p:first-child {
    margin-bottom: 5px;
}

.comments_item div:first-child {
    margin-right: 20px;
}

.comments_action-btns p {
    padding: 5px;
    border: 1px solid black;
}

.comments_item:first-child {
    border-top: 1px solid black;
}

.comments_item .comment_name {
    color: blue;
}